.header {
  width: 100%;
  margin-bottom: 2rem;

  &__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* Emoji and name - left part of the navbar */
    &--left {
      display: flex;
      align-items: center;
    }
    /* Theme toggler - middle part of the navbar */
    &--middle {
      width: 5rem;
      height: 5rem;
    }
  }

  /* Parent container for two divs, that has different backgrounds, flipped on hover*/
  &__logo {
    position: relative;
    display: grid;
    place-content: center;
    width: 5rem;
    height: 5rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    cursor: pointer;
    border-radius: 50%;
    // outline: 0.2rem solid $color-primary;
    // outline-offset: 0.3rem;

    &--front-image,
    &--back-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 5rem;
      height: 5rem;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: transform 0.8s;
      backface-visibility: hidden;
    }

    &--front-image {
      background: url(.././img/IvanEmojiCroped.png) no-repeat center
        center/cover;
      z-index: 2000;

      &:hover {
        transform: rotateY(180deg);
      }
    }

    &--back-image {
      background: url(.././img/bg_self.jpeg) no-repeat center center/cover;
      // background: red;
      transform: rotateY(-180deg);
      z-index: 1999;
    }

    &--name {
      margin: 0 0 0 1.5rem;
      // font-size: $font-normal;
      font-size: var(--font-normal);
      font-weight: 400;
      // color: $color-text;
      color: var(--color-text);
    }
  }

  &__logo--front-image:hover + &__logo--back-image {
    transform: rotateY(0);
  }

  /* Theme toggler - middle part of the navbar */

  &__theme-toggler {
    //   position: relative;
    //   width: 100%;
    //   height: 100%;
    //   background: $color-bgd-offset;
    //   border-radius: 50%;
    //   transition: background 0.2s;
    display: grid;
    place-content: center;
    // ///////////////////////////////////////////////
    input[type='checkbox'] {
      visibility: hidden;
      &:checked + label {
        // transform: rotate(360deg);
        // background-color: #000;
        // background-color: var(--color-primary);
        background-color: var(--color-text);
        &:before {
          // transform: translateX(90px);
          // transform: translateX(4.5rem);
          transform: translateX(2.25rem);
          // background-color: #fff;
          background-color: var(--color-bgd);
        }
      }
    }

    label {
      display: flex;
      // width: 180px;
      // height: 90px;
      // border: 6px solid;
      // ////////////////////////////
      // width: 9rem;
      // height: 4.5rem;
      // border: 0.4rem solid;
      // width: 4.5rem;
      // height: 2.25rem;
      // border: 0.2rem solid var(--color-text);
      width: 45px;
      height: 22.5px;
      border: 2px solid var(--color-text);
      border-radius: 99em;
      position: relative;
      // transition: transform 0.75s ease-in-out;
      // transition: transform 0.25s ease-in-out;
      transform-origin: 50% 50%;
      cursor: pointer;

      &:before {
        // transition: transform 0.25s ease;
        // transition-delay: 0.5s;
        content: '';
        display: block;
        position: absolute;
        // width: 54px;
        // height: 54px;
        // ///////////////////////
        // width: 2.5rem;
        // height: 2.5rem;
        // ///////////////////////////
        // width: 1.25rem;
        // height: 1.25rem;
        // ///////////////////////////
        width: 12.5px;
        height: 12.5px;
        // background-color: #000;
        background-color: var(--color-text);
        border-radius: 50%;
        // top: 12px;
        // left: 12px;
        // /////////////////////
        // top: 0.6rem;
        // left: 0.6rem;
        // ////////////////////////
        // top: 0.3rem;
        // left: 0.3rem;
        // ////////////////////////
        top: 3px;
        left: 3px;
      }
    }
    // //////////////////////////////////////////////

    //   &:hover {
    //     background: $color-border;
    //   }
    // }

    /* Position of the bulb inside of the parent */
    // .fa-lightbulb {
    //   @include absoluteCenter;
    //   cursor: pointer;
  }

  //  Menu list - right part of the navbar

  &__ul {
    display: flex;

    & > :not(:last-child) {
      margin-right: 2.5rem;
    }
  }
  // Menu list link
  &__link {
    display: inline-block;
    // font-size: $font-normal;
    font-size: var(--font-normal);
    padding-bottom: 0.5rem;
    // border-bottom: 0.5rem solid $color-bgd;
    border-bottom: 0.5rem solid var(--color-bgd);
    // transition: border 0.25s;

    &:hover {
      // border-bottom: 0.5rem solid $color-bgd-offset;
      border-bottom: 0.5rem solid var(--color-bgd-offset);
    }
  }
  // Ordinal numbers in menu list
  &__link-ordinal {
    // font-size: $font-normal;
    font-size: var(--font-normal);
    font-weight: bold;
    margin-right: 1rem;
  }
  // Hide hamburger menu on screens larger than 900px
  &__hamburger {
    display: none;
  }
  // media queries
  @include respond(phone) {
    // move theme toggler when breakpoint is reached
    & {
      // &__navbar {
      //   &--middle {
      //commented out for empty ruleset, yet to decide weather this is to be deleted
      //     // margin-left: auto;
      //   }
      // }
      // width: 93%;
      // Hide horizontal menu when breakpoint is reached
      &__ul {
        display: none;
      }
      // Show hamburger menu when breakpoint is reached
      &__hamburger {
        display: block;
        position: relative;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        // background: $color-bgd-offset;
        background: var(--color-bgd-offset);

        // Checkbox hack styles
        .navigation {
          &__checkbox {
            display: none;

            &:checked ~ .navigation__background {
              transform: scale(80);
            }
            &:checked ~ .navigation__nav {
              left: 0;
            }

            &:checked + .navigation__button .navigation__icon {
              background-color: transparent;
            }
            &:checked + .navigation__button .navigation__icon::before {
              top: 0;
              transform: rotate(135deg);
            }
            &:checked + .navigation__button .navigation__icon::after {
              top: 0;
              transform: rotate(-135deg);
            }
            // add fixed position to menu ???
          }
          &__button {
            // background-color: $color-bgd-offset;
            background-color: var(--color-bgd-offset);
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            @include absoluteCenter;

            z-index: 2000;
            text-align: center;
            cursor: pointer;

            &:hover .navigation__icon::before {
              top: -1rem;
            }
            &:hover .navigation__icon::after {
              top: 1rem;
            }
          }
          &__background {
            @include absoluteCenter;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            // background-color: $color-black;
            background-color: var(--color-black);
            z-index: 1000;

            transition: transform 0.3s ease-in;
          }

          &__nav {
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 1500;
            height: 100vh;
            width: 100vw;

            transition: all 0.6s cubic-bezier(0.17, 0.67, 0.81, 1.2);
          }

          &__list {
            @include absoluteCenter;
            display: flex;
            flex-direction: column;
          }

          &__link-container {
            margin: 1rem 0;
          }

          &__link {
            &:link,
            &:visited {
              // color: $color-text;
              color: var(--color-text);
              display: inline-block;
              // font-size: $font-menu;
              font-size: var(--font-menu);
              padding-bottom: 0.5rem;
              // border-bottom: 0.5rem solid $color-bgd-offset;
              border-bottom: 0.5rem solid var(--color-bgd-offset);
              // transition: border 0.25s;
            }

            &:hover,
            &:active {
              // border-bottom: 0.5rem solid $color-primary;
              border-bottom: 0.5rem solid var(--color-primary);
            }
          }

          &__link-ordinal {
            // color: $color-text;
            // font-size: $font-menu;
            color: var(--color-text);
            font-size: var(--font-menu);
            font-weight: bold;
            margin-right: 2rem;
          }

          &__icon {
            position: relative;
            margin-top: 2.3rem;

            &,
            &::before,
            &::after {
              width: 2.75rem;
              height: 2px;
              // background-color: $color-text;
              background-color: var(--color-text);
              display: inline-block;
              border-radius: 10rem;
            }

            &::before,
            &::after {
              content: '';
              position: absolute;
              left: 0;
              transition: all 0.2s;
            }
            &::before {
              top: -0.8rem;
            }
            &::after {
              top: 0.8rem;
            }
          }
        }
      }
    }
  }

  @include respond(tab-p) {
    & {
      // width: 90%;
      // Hide horizontal menu when breakpoint is reached
      &__ul {
        display: none;
      }
      // Show hamburger menu when breakpoint is reached
      &__hamburger {
        display: block;
        position: relative;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        // background: $color-bgd-offset;
        background: var(--color-bgd-offset);

        // Checkbox hack styles
        .navigation {
          &__checkbox {
            display: none;

            &:checked ~ .navigation__background {
              transform: scale(80);
            }
            &:checked ~ .navigation__nav {
              left: 0;
            }

            &:checked + .navigation__button .navigation__icon {
              background-color: transparent;
            }
            &:checked + .navigation__button .navigation__icon::before {
              top: 0;
              transform: rotate(135deg);
            }
            &:checked + .navigation__button .navigation__icon::after {
              top: 0;
              transform: rotate(-135deg);
            }
            // add fixed position to menu ???
          }
          &__button {
            // background-color: $color-bgd-offset;
            background-color: var(--color-bgd-offset);
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            @include absoluteCenter;

            z-index: 2000;
            text-align: center;
            cursor: pointer;

            &:hover .navigation__icon::before {
              top: -1rem;
            }
            &:hover .navigation__icon::after {
              top: 1rem;
            }
          }
          &__background {
            @include absoluteCenter;
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            // background-color: $color-black;
            background-color: var(--color-black);
            z-index: 1000;

            transition: transform 0.4s ease-in;
          }

          &__nav {
            position: fixed;
            top: 0;
            left: -100%;
            z-index: 1500;
            height: 100vh;
            width: 100vw;

            transition: all 0.4s cubic-bezier(0.17, 0.67, 0.81, 1.2);
          }

          &__list {
            @include absoluteCenter;
            display: flex;
            flex-direction: column;
          }

          &__link-container {
            margin: 1rem 0;
          }

          &__link {
            &:link,
            &:visited {
              // color: $color-text;
              color: var(--color-text);
              display: inline-block;
              // font-size: $font-menu;
              font-size: var(--font-menu);
              padding-bottom: 0.5rem;
              // border-bottom: 0.5rem solid $color-bgd-offset;
              border-bottom: 0.5rem solid var(--color-bgd-offset);
              // transition: border 0.25s;
            }

            &:hover,
            &:active {
              // border-bottom: 0.5rem solid $color-primary;
              border-bottom: 0.5rem solid var(--color-primary);
            }
          }

          &__link-ordinal {
            // color: $color-text;
            // font-size: $font-menu;
            color: var(--color-text);
            font-size: var(--font-menu);
            font-weight: bold;
            margin-right: 2rem;
          }

          &__icon {
            position: relative;
            margin-top: 2.3rem;

            &,
            &::before,
            &::after {
              width: 2.75rem;
              height: 2px;
              // background-color: $color-text;
              background-color: var(--color-text);
              display: inline-block;
              border-radius: 10rem;
            }

            &::before,
            &::after {
              content: '';
              position: absolute;
              left: 0;
              transition: all 0.2s;
            }
            &::before {
              top: -0.8rem;
            }
            &::after {
              top: 0.8rem;
            }
          }
        }
      }
    }
  }
}
