@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes ripple {
  to {
    transform: scale(5);
    opacity: 0;
  }
}

@keyframes scaleUp {
  from {
    transform: 0;
  }
  to {
    transform: scale(100);
  }
}

// @keyframes scaleDown{
//   to{
//     transform: 0;
//   }
// }

@keyframes slideIn {
  0%,
  60% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: 0;
  }
}

@keyframes delayCloseModalBtnAppearance {
  0%,
  60% {
    opacity: 0;
    transform: rotate(180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes colorize {
  0% {
    color: $color-text;
  }
  100% {
    color: $color-primary;
  }
}

@keyframes bgdMove {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
