html {
  scroll-behavior: smooth;
}
// .section__title--about {
//   // border-bottom: 2px solid $color-bgd-offset;
// }

.section__about {
  position: relative;

  &--subheadings {
    display: flex;

    align-items: flex-start;
    justify-content: space-evenly;
    width: 70%;
    margin: 3rem auto 5rem;

    @include respond(phone) {
      & {
        flex-direction: column;
        width: 40%;
      }
      .section__subtitle {
        margin-bottom: 3rem;
      }
    }
  }

  .about__skills,
  .about__personal {
    width: 70%;
  }

  .about__skills {
    // border-top: 1px solid $color-text-offset;
    padding-top: 5rem;
    .skill-icon {
      display: inline-block;

      &-svg {
        width: 3.3rem;
      }
    }

    &--html {
      padding-top: 3rem;
      border-top: 1px solid $color-text-offset;
    }
    &--ai {
      padding-bottom: 3rem;
      border-bottom: 1px solid $color-text-offset;
    }

    &--html,
    &--css,
    &--js,
    &--sass,
    &--ai {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-bottom: 5rem;
    }

    .skill-bar {
      width: 70%;
      height: 1rem;
      background: $color-bgd-offset;
      display: flex;
      align-items: center;

      &-inner {
        width: 80%;
        height: 0.5rem;
        // background: $color-primary;
        background-image: linear-gradient(
          to right,
          $color-primary,
          $color-secondary
        );
        background-size: 400%;
      }
    }
  }

  .about__personal {
    display: block;
  }

  .courses-certificates {
    padding-top: 5rem;

    .courses-intro {
      line-height: 1.6;
      font-size: $font-normal;
      text-align: justify;
      color: $color-text-offset;
      margin-bottom: 3rem;
    }

    .certificates {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &-container {
        width: 35rem;
        height: 30rem;
        background: red;

        .img-cert {
          height: 100%;
        }
      }
    }
  }

  .cc {
    font-size: $font-normal;
    color: $color-text;
    text-align: center;
    margin: 0 auto 4rem;
    font-weight: 400;

    &-icon {
      margin-right: 1rem;
    }
  }
}
