.section-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.location {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;

  &__icon {
    display: inline-block;
    margin-bottom: 1rem;
  }

  &__state {
    // font-size: $font-normal;
    font-size: var(--font-normal);
  }
}

.phone {
  margin: 0 auto 3rem;
  width: 100%;
  text-align: center;

  &__toggler {
    position: relative;
    height: 3rem;
  }

  &__reveal,
  &__hide {
    @include absoluteCenter;
  }

  &__reveal,
  &__hide {
    // color: $color-text;
    color: var(--color-text);
    transition: all 0.2s;
    animation: colorize 3s alternate-reverse infinite;

    &:hover {
      cursor: pointer;
    }
  }

  &__info {
    // font-size: $font-normal;
    // color: $color-text;
    font-size: var(--font-normal);
    color: var(--color-text);
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: auto;
    transition: all 0.5s;

    &--viber,
    &--phone,
    &--whatsapp {
      margin-right: 2rem;
    }

    &--viber {
      // color: $color-viber;
      color: var(--color-viber);
    }
    &--whatsapp {
      // color: $color-whatsapp;
      color: var(--color-whatsapp);
    }

    &--data {
      // font-size: $font-l;
      font-size: var(--font-l);
    }
    // @media
    @include respond(phone) {
      & {
        // font-size: $font-small;
        font-size: var(--font-small);

        &--data {
          // font-size: $font-normal;
          font-size: var(--font-normal);
        }
      }
    }
  }
}

.form {
  width: 50%;
  margin: 0 auto 6rem;

  &__label {
    margin-bottom: 1rem;
    // color: $color-text;
    // font-size: $font-normal;
    color: var(--color-text);
    font-size: var(--font-normal);
  }

  &__input {
    padding: 1rem;
    font-family: 'Poppins', sans-serif;
    // font-size: $font-l;
    font-size: var(--font-l);
  }

  &__mini-wrapper {
    display: flex;
    flex-direction: column;
  }
  // @media
  @include respond(phone) {
    & {
      width: 95%;
      margin: 0 auto 2rem;
    }
  }
  @include respond(tab-p) {
    & {
      width: 80%;
      margin: 0 auto 2.5rem;
    }
  }

  @include respond(tab-l) {
    & {
      width: 60%;
      margin: 0 auto 3rem;
    }
  }
}
